<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id) %>
  <div class="card__body">
     <div style="text-align:center">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>

    <%= link_to "by #{prototype.user.name}", user_path(prototype.user.id), class: :card__user %>
  </div>
  </div>
</div>